.information-section {
}
.information-section__list {
  display: flex;
  gap: 30px;
}

.information-section__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.information-section__item:nth-child(1)::before {
  background-image: url('../img/information/antenna.png');
  background-repeat: no-repeat;
  background-position: center;
}
.information-section__item:nth-child(2)::before {
  background-image: url('../img/information/clock.png');
  background-repeat: no-repeat;
  background-position: center;
}

.information-section__item:nth-child(3)::before {
  background-image: url('../img/information/diagram.png');
  background-repeat: no-repeat;
  background-position: center;
}
.information-section__item:nth-child(4)::before {
  background-image: url('../img/information/astronaut.png');
  background-repeat: no-repeat;
  background-position: center;
}
.information-section__title {
  color: $title-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.information-section__text {
  color: $main-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}