.regular__customers {
    padding: 94px 0px;


  
  &-list {
  @extend %flex;
    gap: 30px;
  }  
  
  &-item {
    border-radius: 4px;
    border: 1px solid #afb1b8;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  &-item-link {
  }
  

  
  &-svg {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &-item:hover,
  &-item:focus {
    border: 1px solid #2196f3;
  }
  &-item:hover &-svg,
  &-item:focus &-svg {
    fill: #2196f3;
  }
  
  }
